/*

  Custom Styles for the Ordered Eating Child Theme

 */


/* Navigation */


#oe-home-logo {
    width: 60%;
}

@media (max-width: 991px) {

    #oe-home-logo {
        width: 65%;
    }

}

@media (max-width: 700px) {

    #oe-home-logo {
        width: 70%;
    }

}

#oe-main-logo {
    width: 45%;
}

@media (max-width: 700px) {

    #oe-main-logo {
        width: 50%;
    }

}

.site-branding {
    padding: 1em 0;
}

.main-navigation a:hover {
   color: #368538;
}

.site-header .navigation-top .menu-scroll-down {
    color: #368538;
}

/* Footer */

.social-navigation a {
    background-color: #368538;
}

/* Global */

.entry-content a:hover {
    color: #368538;
    -webkit-box-shadow: inset 0 0 0 rgba(54,133, 56), 0 3px 0 rgba(54, 133, 56);
    box-shadow: inset 0 0 0 rgba(54, 133, 56), 0 3px 0 rgba(54, 133, 56);
}

h2.widget-title {
}

button {
    background-color: #368538;
}

/* Home Page */

#home-content-section .intro .into-text {
    display: block;
    margin: 80px auto;
    width: 82%;
}

#home-content-section .intro .into-text p {
    text-align: center;
}

#home-content-section .recent-posts {
    padding-top: 48px;
    padding-bottom: 24px;
}

#home-content-section .recent-posts h1 {
    text-align: center;
}

#home-content-section .recent-posts .posts-section {
    display: flex;
    justify-content: center;
}

#home-content-section .recent-posts .posts-section .home-page-post {
    display: inline-block;
    width: 33%;
    padding: 1% 2%;
}

#home-content-section .recent-posts .posts-section .home-page-post .thumbnail-image {
    background-size: cover;
    height: 170px;
    background-position-x: 50%;
    background-position-y: 50%;
}

#home-content-section .recent-posts .posts-section .home-page-post a:hover h3 {
    color: #368538;
}

#home-content-section .recent-posts .posts-section .home-page-post h3 {
    text-align: left;
    padding-top: 10px;
    padding-left: 1%;
}

#home-content-section .recent-posts .posts-section .home-page-post p {
    padding-left: 1%;
}

#home-content-section .recent-posts .posts-section .home-page-post .link-more:hover a {
    color: #368538;
}

#home-content-section .order-vs-disorder {
    background-color: #368538;
}

#home-content-section .oe-split {
    display: flex;
    justify-content: center;
}

#home-content-section .oe-split .split {
    display: inline-block;
}

#home-content-section .oe-split-1 {
    width: 50%;
}

#home-content-section .oe-split-2 {
    width: 50%;
}

#home-content-section .oe-split-3 {
   width: 60%;
}

#home-content-section .oe-split-4 {
   width: 40%;
}

#home-content-section .order-vs-disorder .split {
   padding: 3% 11%;
    text-align: center;
}

#home-content-section .order-vs-disorder {
    position: relative;
}

#home-content-section .order-vs-disorder .versus {
    position: absolute;
    top: 40%;
    left: 48.5%;
    color: #fff;
    font-size: 26px;
}

#home-content-section .order-vs-disorder h2 {
    color: #fff;
}

#home-content-section .order-vs-disorder p {
    color: #fff;
}

#home-content-section .get-started {
    background-color: rgba(211, 211, 211, 0.35);
}

#home-content-section .get-started .split {
    padding: 3%;
}

#home-content-section .widgets-area .widget-container {
   width: 60%;
    display: block;
    margin: auto;
}

#home-content-section .get-started .oe-split-4 {
    text-align: center;
}

#home-content-section .get-started .oe-split-4 label:hover a {
    color: #368538;
}

#home-content-section .widgets-area .widget-container {
    padding: 60px 0;
}

#home-content-section .widgets-area h1 {
   text-align: center;
}

#home-content-section .widgets-area p {
    text-align: center;
    width: 90%;
    display: block;
    margin: 40px auto;
}

#home-content-section .widgets-area .tnp-field input.tnp-submit {
    display: block;
    margin: 40px auto 0px auto;
    max-width: 200px;
}

#home-content-section .widgets-area .tnp-field input.tnp-submit:hover {
    background-color: #368538;
}

/* Footer */

footer.site-footer .wrap {
    padding-top: 14px;
    padding-bottom: 6px;
}

footer .social-navigation {
    width: 100%;
}

footer .social-navigation #menu-social-links-menu {
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
}

footer .social-navigation #menu-social-links-menu .menu-item {
    display: inline-block;
    margin-left: 1.5%;
}
